@use 'variaveis';

@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize:40px){
    @include title($fontSize);
    color: variaveis.$corTextoSecundario;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$corDeFundo;
}

.text{
    @include text;

    &--big{
        @include text(18px);
    }

    &--small{
        @include text(12px)
    }
}

.title{
    @include title();

    &--big{
        @include title(44px);
    }

    &--small{
        @include title(28px)
    }

}

.link-text{
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(/dist/images/hero_desktop.jpeg);
}