@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'faq';

/*AJUSTES INICIAIS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

/*MIXINS*/

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: #{$fontSize + 10px};
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text ($fontSize);
    font-size: $fontSize;
    color: variaveis.$corTextoSecundario;
}

@font-face{
    font-family: Avenir;
    src:url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src:url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 700;
}

/*TEXTOS*/

.text {
    @include text();
}

.text--small {
    @include text(12px);
}

.text--big {
    @include text(18px);
}

/*TÍTULOS*/

.title {
    @include title();
}

.title--small {
    @include title(28px);
}

.title--big {
    @include title(44px);
}

/*OUTROS*/

.link-text {
    @include text();
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
    cursor: pointer;
}

.button{
    margin:auto;
    padding: 16.5px;
    width: 96%;
    display: block;
    font-size: 18px;
    color: #02172a;
    background-color: #02d6e8;
    border: #02d6e8;
    border-radius: 4px;
    cursor: pointer;
}

.coloredBG{
    background-color: #1d1f2b;
}

.alignleft{
    text-align: left;
}