@use 'variaveis';

.plans{
    padding: 20px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p{
        margin-top: 20px;
    }

    &__list{
        margin-top: 84px;
        max-width: 1000px;
        width: 100%;
        border-collapse: collapse;

        @media (max-width:768px){
            width: 98%;
            display: flex;
            flex-direction: column;
        }
        
        button{
            width: 95%;
        }
        
        &__plan{
            height: 260px;
                        
            img{
                width: 100px;
                margin-top: 24px;
            }

            th{
                border-bottom: solid 2px variaveis.$corTextoPrincipal;
            }

            &__1{
                width: 380px;

                @media (max-width:768px){
                    display: none;
                }
            }
            &__2,
            &__3{
                width: 310px;
                border-top: solid 2px variaveis.$corBordaGrossa;
                }

                .text{
                    margin: 24px 0;
                }
            }
        }
        
        &__infos{

            @media (max-width:768px){
                display: block;
            }

            .text{
                margin: 0;
            }

            tr{
                height: 130px;
                border-bottom: solid 2px variaveis.$corBordaFina;
            }
        }
    }

    .observation{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
    }
