@use 'variaveis';

.shows1,
.shows2{
    align-items: left;
    padding-top: 2.3vw;

    @media (max-width: 768px){
        padding-bottom: 20vw;
    }

    img{
        max-width: 100%;
    }

    &__text__container{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }

    }

    

    &--image-full-width{
        display: block;
        position: relative;

        
        img{
            width: 100%
        }

        &__text__container{
            position: absolute;
            top: 10vw;
            left: 5%;
            width: calc(45% - 9vw);
            height: 100%;
            display: flex;
            flex-direction: column;

            @media (max-width: 768px){
                position: relative;
                left: 0;
                width: 100%;
                text-align: center;
                padding: 0vw 5vw 25vw 5vw;
            }
        }
    }
}

.shows3{
    text-align: center;
    padding: 5.6vw;

    .text{
        margin-top: 24px;
    }

    img{
        max-width: 2160px;
        width: 100%;
    }
}