/*CORES PRINCIPAIS DO SITE*/
$corDeFundo: #040814;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;

/*TABELA DE PLANOS*/
$corBordaGrossa:#1d1f2b;
$corBordaFina:#2c303f;
$corFundoPremium: #1d1f2b;

/*COR DO BOTÃO*/
$corBotaoPrimario:#02d6e8;
$corFonteBotao:#02172a;
$corBotaoDark:#000;